@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,600,700&display=swap');

// FONT VARIABLES
$font-primary: 'Libre Franklin', sans-serif;

// COLOR VARIABLES
:root {
 --color-primary-blue: hsl(223, 87%, 63%);
 --color-secondary-blue: hsl(223, 100%, 88%);
 --color-secondary-red: hsl(354, 100%, 66%);
 --color-nuetral-gray: hsl(0, 0%, 59%);
 --color-nuetral-dark-blue: hsl(209, 33%, 12%);
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color:#fff;
  font-weight: 300;
  padding: 3rem;
  line-height: 1.6;
  font-size: 1.6rem;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
