:root {
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-blue: hsl(248, 32%, 49%);
  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish: hsl(246, 25%, 77%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: var(--color-red);
  background-repeat: repeat;
  background-image: url(../images/bg-intro-desktop.png);
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  padding: 5rem 0; }
  .container__text {
    padding: 0 4rem;
    width: 50%;
    align-self: center; }
    .container__text h1 {
      line-height: 5rem;
      font-size: 4rem;
      margin-bottom: 2rem; }
    .container__text p {
      font-size: 1.5rem; }
  .container__form-side {
    padding: 0 4rem;
    margin: 0 auto; }
    .container__form-side button {
      font-weight: 400;
      width: 100%;
      display: inline-block;
      border: none;
      padding: 1.5rem 9rem;
      color: rgba(255, 255, 255, 0.842);
      background: var(--color-blue);
      border-radius: 6px;
      margin-bottom: 2.5rem;
      cursor: pointer; }
      .container__form-side button span {
        font-weight: 700;
        color: #fff; }
      .container__form-side button:hover {
        background: #685dac; }
    .container__form-side form {
      background: #fff;
      padding: 3rem;
      border-radius: 6px;
      width: 100%; }
      .container__form-side form input {
        width: 100%;
        display: block;
        margin-bottom: 2.5rem;
        border-radius: 6px;
        border: 1.5px solid #b9b6d3;
        padding: 1.3rem 1.8rem; }
        .container__form-side form input::placeholder {
          color: #3e3c49;
          font-weight: 600;
          font-size: 1.2rem; }
      .container__form-side form button {
        margin-bottom: 0rem;
        text-transform: uppercase;
        font-weight: 600;
        background: var(--color-green);
        font-size: 1.1rem;
        cursor: pointer; }
        .container__form-side form button:hover {
          background: #51d29a; }
      .container__form-side form p {
        margin-top: 1rem;
        text-align: center;
        color: var(--color-grayish);
        font-size: 1rem; }
        .container__form-side form p a {
          font-weight: 600;
          text-decoration: none;
          color: var(--color-red); }
