h1 {
  font-size: 2.5rem;
  color: var(--color-grayish-blue);
  padding: 2rem;
}
body::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url(../images/bg-top.svg);
  background-size: contain;
  height: 80%;
  width: 80%;
  z-index: -1;
}
body::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-repeat: no-repeat;
  background-position: bottom left;
  background-image: url(../images/bg-bottom.svg);
  background-size: contain;
  height: 50%;
  width: 50%;
  z-index: -1;
}

.options_container {
  display: flex;
  justify-content: center;
  align-items: center;
  .option {
    // flex: 1;

    padding: 2.5rem;
    background-color: #fff;
    h3 {
      color: var(--color-grayish-blue);
    }
    h2 {
      font-size: 3.5em;
      color: var(--color-dark-grayish-blue);
      padding: 2rem 0;
      min-width: 21rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      span {
        font-size: 3rem;
        padding-right: 0.8rem;
      }
    }
    ul {
      list-style: none;
      border-top: 0.8px solid var(--color-light-grayish-blue);
      padding-bottom: 3rem;
      li {
        color: var(--color-grayish-blue);
        border-bottom: 0.8px solid var(--color-light-grayish-blue);
        padding: 1rem 2rem;
        font-size: 1.2rem;
      }
    }
    button {
      width: 100%;
      border-radius: 0.5rem;
      padding: 0.9rem 0;
      color: #fff;
      border: 1px solid #fff;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      //   border: 1px solid #fff;
      cursor: pointer;
      background: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
      );
      transition: 0.2s;
      &:hover {
        border: 1px solid var(--color-light-grayish-blue);
        background: #fff;
        color: hsl(237, 63%, 64%);
      }
    }
  }
  .option.option-special {
    padding: 4rem 2.5rem;
    background: linear-gradient(
      to bottom,
      hsl(236, 72%, 79%),
      hsl(237, 63%, 64%)
    );
    color: #fff;
    border-radius: 1rem;

    h3 {
      color: #fff;
    }
    h2 {
      color: #fff;

      span {
        font-size: 3rem;
        padding-right: 0.8rem;
      }
    }
    ul {
      list-style: none;
      border-top: 0.8px solid var(--color-very-light-grayish-blue);
      li {
        color: #fff;
        border-bottom: 0.8px solid var(--color-very-light-grayish-blue);
      }
    }
    button {
      color: hsl(237, 63%, 64%);
      background: #fff;
      //   border: 1px solid #fff;
      transition: 0.2s;

      &:hover {
        background: hsl(237, 63%, 64%);
        color: #fff;
      }
    }
  }
}
.border-radius-right {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.border-radius-left {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

// Costum Checkbox

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  .description {
    color: var(--color-light-grayish-blue);
  }
  label {
    background-image: linear-gradient(
      to right,
      hsl(236, 72%, 79%),
      hsl(237, 63%, 64%)
    );
    border-radius: 50px;
    cursor: pointer;
    margin: 0 15px;
    position: relative;
    height: 25px;
    width: 45px;
    display: inline-block;
  }
  input {
    position: absolute;
    left: -3000px;
  }

  label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    height: 20px;
    width: 20px;
    transition: transform 0.5s ease;
  }

  input:checked + label .ball {
    transform: translateX(20px);
  }
}

@media screen and (max-width: 800px) {
  .options_container {
    flex-direction: column;
    // justify-content: stretch;
    // align-items: stretch;
    .option {
      border-radius: 1rem;
      margin: 1rem;
    }
    .option.option-special {
      padding: 2.5rem;
    }
  }
}
