.container{
    padding: 5rem 12rem;

}
.container-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(10rem, auto));
    grid-gap: 2.5rem;
}
@media (max-width: 970px){
    .container{
        padding: 5rem 5rem;
    
    }
    .container-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, minmax(10rem, auto));
        grid-gap: 1.5rem;
    }
}
@media (max-width: 770px){
    .container{
        padding: 5rem 12rem;
    }
    .container-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 30rem;
    }
}
@media (max-width: 770px){
    .container{
        padding: 5rem 12rem;
    }
    .container-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card{
        width: 40rem;
    }
}

@media (max-width: 550px){

    .container{
        padding: 2rem 3rem;
    }

}