:root {
  --color-primary: #014c85;
  --color-secondary: #7137eb;
  --color-primary-light: #f5f6f8;
  --color-primary-dark: #ba265d;
  --color-text-dark: #004b84;
  --color-grey-dark: #a2a4b9;
  --color-light: #f5f6f8;
  --color-text-light: #a8a8b0;
  --color-white: #fff; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.main-container {
  background: #f4f5f9;
  display: flex; }
  .main-container .sidebar {
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem 3rem 2rem 2rem;
    flex: 0 0 200px;
    min-height: 100vh; }
  .main-container .header {
    font-size: 1.4rem;
    height: 7rem;
    background: var(--color-white);
    padding: 4rem 5rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex: 0 1 82%;
    box-shadow: 0 4px 2px -2px gray; }

.sidebar__logo {
  height: 6.25rem;
  margin-left: 4rem;
  margin-bottom: 4rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 1.5rem; }
  .side-nav__item {
    width: max-content; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-text-dark);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 1rem 5rem;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center; }
  .side-nav__link:hover {
    color: var(--color-primary); }
  .side-nav__link:hover .side-nav__icon {
    fill: var(--color-primary); }
  .side-nav__icon {
    fill: #d4d7dc;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem; }

.header .search__input {
  background: #ffffff;
  border: none;
  font-size: 1.6rem; }
  .header .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-text-light); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    height: 100%; }
  .user-nav > *:hover {
    background-color: #797888; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark); }
  .user-nav__user {
    display: flex;
    align-items: center; }
  .user-nav__user-name {
    color: #797888;
    margin-right: 1rem;
    font-weight: 700;
    font-size: 1.4rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 200px;
    margin-right: 1.9rem; }
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-text-dark);
    color: #fff;
    position: absolute;
    top: -1.7rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__dropdown-button {
    border: none;
    text-align: center;
    background-color: #ffffff; }
  .user-nav__dropdown-icon {
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 200px;
    fill: #cfcfd9; }
