:root {
  --color-primary: #f5f6f8;
  --color-primary-light: #f5f6f8;
  --color-primary-dark: #ba265d;
  --color-text-dark: #0b283a;
  --color-light: #f5f6f8; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.main-container {
  background: #d37777;
  display: flex; }
  .main-container .sidebar {
    background: var(--color-light);
    padding: 10rem 2rem;
    flex: 0 0 200px; }
  .main-container .header {
    background: #ffffff;
    height: 5vh;
    padding: 4rem 5rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex: 0 1 82%; }

.sidebar__section-name {
  text-transform: uppercase;
  padding: 0.8rem 5rem;
  font-size: 1.4rem;
  color: #1d418b;
  font-weight: 700; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2.5rem; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-text-dark);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 1rem 5rem;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center; }
  .side-nav__link:hover {
    color: #1aeaac; }
  .side-nav__link:hover .side-nav__icon {
    fill: #1aeaac; }
  .side-nav__icon {
    fill: #d4d7dc;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem; }

.header .search__input {
  background: #ffffff;
  border: none;
  color: #9fa8b7;
  font-size: 1.9rem; }
