.container {
  padding: 0 5rem;
  margin: 0 auto;
  max-width: 100%;
  width: 1440px;
}

.header {
  background-color: var(--color-violet);
  background-image: url("../images/bg-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;

  // width: 100vw;
  nav {
    padding: 3rem 0;
    img {
      width: 20rem;
    }
  }
}

.hero {
  display: flex;
  align-items: center;
  &__photo {
    flex: 5;
    // margin-top: 4rem;
    padding: 3rem;
    padding-left: 0;
    // width: 40%;
    // height: 40rem;
    img {
      width: 95%;
    }
  }
  &__text-box {
    padding: 2rem;
    flex: 4;
    // justify-self: center;
    align-self: center;
    padding-left: 0;
    h1 {
      font-size: 3.2rem;
      padding-right: 9rem;
      margin-bottom: 1.5rem;
      @media only screen and (max-width: 900px) {
        font-size: 2.6rem;
      }
    }
    p {
      font-size: 1.6rem;
      color: rgba(255, 255, 255, 0.767);
      margin-bottom: 1.5rem;
      @media only screen and (max-width: 900px) {
        font-size: 1.4rem;
      }
    }
    button {
      padding: 1.2rem 5rem;
      border-radius: 50px;
      border: none;
      color: hsla(257, 40%, 49%, 0.822);
      font-size: 1.6rem;
      cursor: pointer;
      box-shadow: 0 4px 9px rgba(0, 0, 0, 0.5);
      &:hover {
        box-shadow: 0 4px 2px rgba(0, 0, 0, 0.377);
      }
    }
  }
}

.social-medya-box {
  // text-align: end;
  padding: 3rem 0;
  display: flex;
  justify-content: end;
  ul {
    display: flex;
    list-style: none;
    li a {
      text-decoration: none;
      border: 0.3px solid #fff;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      // padding: 0.6rem;
      color: #fff;
      margin-right: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 1.8rem;
        display: inline-block;
        margin-right: 0;
      }
      &:hover {
        background: #fff;

        border: none;
        color: var(--color-violet);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }
  .header {
    background-image: url("../images/bg-mobile.svg");
  }
  .hero {
    flex-direction: column;
    &__photo {
      flex: 1;
      padding-left: 0;
      padding-right: 0;
    }
    &__text-box {
      padding: 2rem;
      flex: 1;
      h1 {
        font-size: 2.2rem;
        padding-right: 0;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.4rem;
      }
      button {
        padding: 1rem 8rem;
        font-size: 1.4rem;
      }
    }
  }
  .social-medya-box {
    // text-align: end;
    display: flex;
    padding: 3rem 0;
    justify-content: center;
    ul {
      li a {
        width: 3rem;
        height: 3rem;

        i {
          font-size: 1.6rem;
        }
      }
    }
  }
}
