.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
  &--main {
    display: block;
    font-weight: 400;
    letter-spacing: 35px;
    font-size: 60px;
    animation: move-in-left 1s ease-out;
  }
  &--sub {
    display: block;
    font-weight: 700;
    letter-spacing: 17.4px;
    font-size: 20px;
    animation: move-in-right 1s ease-out;
  }
}
