// FONT VARIABLES
$font-primary: 'Poppins', sans-serif;

// COLOR VARIABLES
:root {
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-blue: hsl(248, 32%, 49%);
  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish: hsl(246, 25%, 77%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color:#fff;
  background-color: var(--color-red);
  background-repeat: repeat;
  background-image: url(../images/bg-intro-desktop.png);
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
}
