.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100rem;
  margin: 0 auto;
  min-height: 100vh;
  
  place-items: center;
  padding: 5rem 0;

  &__header{
    span {
      font-weight: 700;
      color: #fff;
    }
    // font-size: 1.6rem;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 400;
    border: none;
    padding: 1.5rem 0;
    color: rgba(255, 255, 255, 0.842);
    background: var(--color-blue);
    border-radius: 6px;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  & > div{
    flex: 1;
  }
  &__text{
    padding: 0 3rem;
    // width: 50%;
    
    // display: flex;
    // flex-wrap: wrap;
    align-self: center;

    h1{
      line-height: 5rem;
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    p{
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
    }

    
  }
  &__form-side{
    padding: 0 3rem;
    margin: 0 auto;
    
   
  
    form{
      background: #fff;
      padding: 3rem ;
      border-radius: 6px;
      // width: 100%;
      
      }
      button{
        margin-bottom: 0rem;
        text-transform: uppercase;
        font-weight: 600;
        background: var(--color-green);
        font-size: 1.1rem;
        border: 1px solid var(--color-green);
        box-shadow: 0 2px hsl(154, 66%, 38%);
        color:#fff;
        padding: 1.5rem 0;
        border-radius: 6px;
        width: 100%;
        cursor: pointer;
        display: block;
        letter-spacing: 1px;

        &:hover{
          background: lighten($color: hsl(154, 59%, 51%), $amount: 6);
          
        }
        &:focus {
          outline: 0;
        }
        &:active{
          
          box-shadow: 0 0 var(--color-green);
          transform: translateY(2px);
          
        }
      } 
      p{
        margin-top: 1rem;
        text-align: center;
        color:var(--color-grayish);
        font-size: 0.9rem;
        
        a{
          font-weight: 600;
          text-decoration: none;
          color: var(--color-red);
        }
      }     
    }
  }

  .form-group{
    margin-bottom: 1.7rem;
    // width: 100%;
    p{
      font-size: 1rem;
      text-align: right;
      color: var(--color-red);
      margin-top: 0.3rem;
      margin-bottom: 1.5rem;
      font-style: italic;
      // display: none;
    }
    
    

    input{
      width: 100%;
      display: block;
      
      border-radius: 6px;
      border: 1px solid  hsl(246, 25%, 77%);;
      padding: 1.3rem 1.8rem;
      

      
      &::placeholder {
        color: hsl(249, 10%, 26%);
        font-weight: 600;
        font-size: 1.2rem;
      }
      &:focus{
        border: 1.2px solid  hsl(249, 10%, 26%);;
      }
    }
  }

  @media screen and (max-width: 768px){
    body{
      background-image: url(../images/bg-intro-mobile.png);;
    }
    html {
      box-sizing: border-box;
      font-size: 58.5%; // 10px/16px = 62.5% -> 1rem = 10px
    }
    .container{
      // display: flex;
      flex-direction: column;
      h1{
        font-size: 3rem;
      }
    }
    p{
      text-align: center;
    }
    h1{
      text-align: center;
    }

    
  }
  //Utils

  .d-none{
    display: none;
  }


