:root {
  --color-primary: #014c85;
  --color-secondary: #7137eb;
  --color-primary-light: #f5f6f8;
  --color-primary-dark: #ba265d;

  --color-text-dark: #004b84;

  --color-grey-dark: #a2a4b9;
  --color-light: #f5f6f8;
  --color-text-light: #a8a8b0;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;

  min-height: 100vh;
}
