.sidebar {
  &__logo {
    height: 6.25rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
  }
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 1.5rem;
  &__item {
    width: max-content;
  }

  &__link:link,
  &__link:visited {
    color: var(--color-text-dark);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 1rem 5rem;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  &__link:hover {
    color: var(--color-primary);
  }
  &__link:hover &__icon {
    fill: var(--color-primary);
  }

  &__icon {
    fill: #d4d7dc;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
  }
}
.header {
  .search__input {
    background: #ffffff;
    border: none;

    font-size: 1.6rem;
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-text-light);
    }
  } //9ea6b9
}
.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;

  & > * {
    // padding: 0 1.5rem;
    // cursor: pointer;
    height: 100%;
    // display: flex;
    // align-items: center;
  }
  & > *:hover {
    background-color: #797888;
  }
  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark);
  }

  &__user {
    display: flex;
    align-items: center;
  }
  &__user-name {
    color: #797888;
    margin-right: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
  }
  &__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 200px;
    margin-right: 1.9rem;
  }
  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-text-dark);
    color: #fff;
    position: absolute;
    top: -1.7rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dropdown-button {
    border: none;
    text-align: center;
    background-color: #ffffff;
  }
  &__dropdown-icon {
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 200px;
    fill: #cfcfd9;
  }
}
