.main-container {
  background: #f4f5f9;
  display: flex;

  .sidebar {
    background:  rgba(#fff, $alpha: 0.8);
    padding: 1rem 3rem 2rem 2rem;
    flex: 0 0 200px;
    min-height: 100vh;
  }
  .header {
    background: var(--color-white);
    height: 5vh;
    padding: 4rem 5rem;
    // text-align: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex: 0 1 82%;
    box-shadow: 0 4px 2px -2px gray;
  }
}
