$bp-medium: 50em;
$bp-small: 44em;

:root {
  --font-primary: "Barlow Condensed", sans-serif;

  --color-primary-red: hsl(0, 100%, 68%);

  --color-nuetral-very-dark-blue: hsl(230, 29%, 20%);
  --color-nuetral-dark-grayish-blue: hsl(230, 11%, 40%);
  --color-nuetral-grayish-blue: hsl(231, 7%, 65%);
  --color-nuetral-very-light-grayish-blue: hsl(207, 33%, 95%);

  --color-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  @media only screen and (max-width: $bp-medium) {
    font-size: 52.5%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 46.5%;
  }
}
body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.8rem;
  position: relative;
  overflow: hidden;
}
