@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

// FONT VARIABLES
$font-primary: "Karla", sans-serif;
$font-heading: "DM Serif Display", serif;

// COLOR VARIABLES
:root {
  --color-dark-violet: hsl(256, 26%, 20%);
  --color-grayish-blue: hsl(216, 30%, 68%);
  --color-very-dark-violet: hsl(270, 9%, 17%);
  --color-grayish-violet: hsl(273, 6%, 63%);
  --color-very-light-gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color: var(--color-very-dark-violet);
  min-height: 100vh;
  /* font-weight: 300;
  padding: 3rem;
  line-height: 1.6;
  font-size: 1.6rem; */
}
