* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

:root {
  --color-pale-blue: hsl(243, 100%, 93%);
  --color-grayish-blue: hsl(229, 7%, 55%);
  --color-dark-blue: hsl(228, 56%, 26%);
  --color-very-dark-blue: hsl(229, 57%, 11%);
}

.background {
  position: absolute;
  bottom: -5px;
  z-index: -1;
  &--mobile {
    display: none;
  }
  &--desktop {
    height: 50vh;
    width: 100vw;
  }
}
body {
  min-height: 100vh;

  background-color: var(--color-very-dark-blue);
  overflow: hidden;
  font-family: Raleway;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // flex: 0 0 65vw;
  width: 80vw;
  margin: 0 auto;
  &__files-container {
    background-color: var(--color-dark-blue);
    padding: 4rem 7rem 4rem 4rem;
    max-width: 30rem;
    flex: 0 0 30%;

    border-radius: 0.5rem 9rem 0.5rem 0.5rem;
  }
  &__files-container-logo {
    width: 11rem;
    margin-bottom: 2.5rem;
  }
  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    background-color: var(--color-very-dark-blue);
    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }

  &__file-icon {
    // height: 1.5rem;
    width: 1.7rem;
  }
  &__files {
    display: flex;
  }
  &__space-container {
    background-color: var(--color-dark-blue);
    padding: 2rem;
    border-radius: 0.5rem;
    color: var(--color-pale-blue);

    // flex: 3 0 40rem;
    flex: 0 0 60%;
  }
  &__paragraph {
    font-size: 1.4rem;
    font-weight: 400;
    span {
      font-weight: 700;
      color: #fff;
    }
  }
  &__labels {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: #fff;
    font-size: 1.4rem;
  }
  &__progress-bar {
    margin: 1rem 0;
    height: 2.3rem;
    background-color: var(--color-very-dark-blue);
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
  }
  &__loaded-part {
    background-image: linear-gradient(to right, #ff9f98, #ff5297);
    height: 1.6rem;
    margin-left: 2px;
    // FF9F98
    width: 75%;
    max-width: 75%;
    border-radius: 2rem;
    // position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation: loading 3s ease-in-out;
  }
  &__dot {
    // position: absolute;
    // right: 0;
    margin-right: 3px;
    height: 1.2rem;
    width: 1.2rem;
    background-color: #fff;
    border-radius: 100%;

    // z-index: 100;
  }
}

@keyframes loading {
  0% {
    width: 5%;
  }
  50% {
    width: 35%;
  }
  100% {
    width: 75%;
  }
}
