* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-pale-blue: hsl(243, 100%, 93%);
  --color-grayish-blue: hsl(229, 7%, 55%);
  --color-dark-blue: hsl(228, 56%, 26%);
  --color-very-dark-blue: hsl(229, 57%, 11%);
}

.background {
  position: absolute;
  bottom: -5px;
  z-index: -1;
  &--mobile {
    display: none;
  }
  &--desktop {
    height: 50vh;
    width: 100vw;
  }
}
body {
  min-height: 100vh;
  background-color: var(--color-very-dark-blue);
  overflow: hidden;
  font-family: Raleway;
}
.hero {
  display: flex;
}

// main {
//   background: url(../images/bg-desktop.png);
//   background-position: center bottom;
//   background-size: contain;
//   background-repeat: no-repeat;
//   height: 110%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
// section {
//   display: flex;
//   align-items: flex-end;
//   margin-top: -6rem;
// }

// .files-container {
//   padding: 2rem 7rem 2rem 2rem;
//   display: inline-block;
//   background-color: var(--color-dark-blue);
//   border-radius: 10px 100px 10px 10px;
//   flex: 0 0 30%;
//   .logo {
//     margin-bottom: 1.2rem;
//     width: 70%;
//   }
//   .files {
//     display: flex;
//     div {
//       background-color: var(--color-very-dark-blue);
//       display: flex;
//       align-items: center;
//       padding: 0.8rem;
//       border-radius: 8px;
//       &:first-child {
//         padding: 0.7rem 0.9rem;
//       }
//       &:not(:last-child) {
//         margin-right: 0.5rem;
//       }
//     }
//   }
// }
// .space-container {
//   background-color: var(--color-dark-blue);
//   padding: 2rem;
//   color: #fff;
//   flex: 0 0 60%;

//   p {
//     font-size: 0.8rem;
//     margin-bottom: 0.8rem;
//     span {
//       font-weight: 700;
//     }
//   }
//   .progress-bar {
//     display: block;
//     background-color: var(--color-very-dark-blue);
//     height: 0.8rem;
//     border-radius: 10px;
//     margin-bottom: 0.2rem;
//   }
//   .labels {
//     display: flex;
//     justify-content: space-between;
//     font-weight: 700;
//   }
// }
