*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Raleway", sans-serif;
  color: #070439;
  background: #fff;
  font-weight: 300;
  line-height: 1.6; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem 5rem;
  grid-template-rows: 10vh min-content min-content 30vh 40vh;
  grid-template-columns: repeat(4, min-content); }

.header {
  display: flex; }
  .header__logo {
    margin-right: auto; }
  .header__link:not(:last-child) {
    margin-right: 2rem; }
  .header__link {
    display: inline-block;
    text-decoration: none; }
