:root {
  --font-primary: "Bai Jamjuree", sans-serif;
  --color-primary-strong: hsl(171, 66%, 44%);
  --color-primary-light: hsl(233, 100%, 69%);
  --color-nuetral-dark-gray: hsl(210, 10%, 33%);
  --color-nuetral-gray: hsl(201, 11%, 66%);
  --color-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: var(--font-primary);
  font-weight: 400;

  //   line-height: 1.6;
  color: var(--color-nuetral-dark-gray);
  text-align: center;
}

//utils
.mb-2 {
  margin-bottom: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
