:root {
  --font-primary: "Bai Jamjuree", sans-serif;
  --color-primary-strong: hsl(171, 66%, 44%);
  --color-primary-light: hsl(233, 100%, 69%);
  --color-nuetral-dark-gray: hsl(210, 10%, 33%);
  --color-nuetral-gray: hsl(201, 11%, 66%);
  --color-white: #fff; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--color-nuetral-dark-gray);
  text-align: center; }

.mb-2 {
  margin-bottom: 2rem; }

.mr-2 {
  margin-right: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

section {
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem 2rem; }

.header {
  background-image: url(../images/bg-header-desktop.png);
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 10rem 0 16rem 0; }
  .header__content {
    margin: 0 auto; }
  .header__img {
    height: 10rem;
    margin-bottom: 3rem; }

.heading-primary {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 1.6rem; }

.paragraph-primary {
  font-size: 2rem;
  width: 60%; }

.heading-secondary {
  font-size: 3.3rem;
  margin-bottom: 1.5rem; }

.heading-tertiary {
  font-size: 3rem;
  margin-bottom: 2rem; }

.paragraph-secondary {
  font-size: 1.8rem;
  line-height: 3rem; }

.btn {
  border: none;
  padding: 1.3rem 3rem;
  border-radius: 4rem;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.6rem;
  letter-spacing: 1.2px; }

.btn-green {
  background-color: rgba(38, 186, 164, 0.8);
  box-shadow: 0 2px 1px rgba(38, 186, 164, 0.9);
  transition: all 0.2s; }
  .btn-green:hover {
    background-color: rgba(38, 186, 164, 0.4); }
  .btn-green:active {
    background-color: rgba(38, 186, 164, 0.4);
    box-shadow: 0 0 1px rgba(38, 186, 164, 0.9);
    transform: translateY(2px); }

.btn-purple {
  background-color: rgba(97, 115, 255, 0.8);
  box-shadow: 0 2px 1px rgba(97, 115, 255, 0.9);
  transition: all 0.2s; }
  .btn-purple:hover {
    background-color: rgba(97, 115, 255, 0.4); }
  .btn-purple:active {
    background-color: rgba(97, 115, 255, 0.4);
    box-shadow: 0 0 1px rgba(97, 115, 255, 0.9);
    transform: translateY(2px); }

.history__information {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.history__img-box {
  flex: 0 0 52%;
  margin-left: -2%; }
  .history__img-box img {
    max-width: 100%; }

.history__features-box {
  flex: 0 0 48%;
  padding: 0 8rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.access__img-box img {
  max-width: 90vw;
  display: block; }

.workflow__features {
  display: flex;
  align-items: center; }

.workflow__feature-box {
  padding: 0 1rem; }
  .workflow__feature-box img {
    height: 4.9rem; }

.companies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .companies__image-box {
    display: flex;
    align-items: center;
    height: 5rem;
    margin-bottom: 2rem; }
    .companies__image-box:not(:last-child) {
      margin-right: 3rem; }

footer {
  background-color: rgba(159, 171, 178, 0.2); }

.footer {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem;
  justify-content: space-between; }
  .footer__company {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .footer__logo {
    max-height: 6rem;
    margin-right: 9rem;
    align-self: center; }
  .footer__social-media {
    align-self: center; }
    .footer__social-media a {
      margin-right: 1rem; }
      .footer__social-media a svg {
        fill: var(--color-nuetral-dark-gray); }
    .footer__social-media a:hover svg {
      backface-visibility: hidden;
      fill: var(--color-primary-strong);
      font-size: 1.7rem; }

.company__links {
  list-style: none;
  text-align: left;
  margin-right: 7rem; }

.company__item {
  text-decoration: none;
  font-size: 1.6rem;
  letter-spacing: 1.3px;
  line-height: 4rem;
  color: inherit; }
  .company__item:hover {
    color: var(--color-primary-strong); }
