@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --color-violet: hsl(257, 40%, 49%); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  height: 100vh;
  /* font-weight: 300;
  padding: 3rem;
  line-height: 1.6;
  font-size: 1.6rem; */ }

.container {
  padding: 0 5rem;
  margin: 0 auto;
  max-width: 100%;
  width: 1440px; }

.header {
  background-color: var(--color-violet);
  background-image: url("../images/bg-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat; }
  .header nav {
    padding: 3rem 0; }
    .header nav img {
      width: 20rem; }

.hero {
  display: flex; }
  .hero__photo {
    flex: 5;
    margin-top: 4rem;
    padding: 4rem; }
  .hero__text-box {
    padding: 2rem;
    flex: 4;
    align-self: center; }
    .hero__text-box h1 {
      font-size: 3.2rem;
      padding-right: 9rem; }
    .hero__text-box p {
      font-size: 1.6rem; }
