.composition {
  position: relative;
  &__photo {
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    transition: all 0.2s;

    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      transform: scale(1.05) translateY(-2rem);
      z-index: 11;
      outline: 1.5rem solid $color-primary;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
