.container {
  padding: 0 5rem;
  margin: 0 auto;
  max-width: 100%;
  width: 1440px;
}

.header {
  background-color: var(--color-cyan-pale);
  background-image: url("../images/bg-hero-desktop.svg");
  background-size: cover;
  // height: 100vh;
  nav {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border-radius: 2.5rem;
      padding: 1.5rem 5rem;
      border: none;
      background: #fff;
      font-weight: 600;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
  }
  &__content {
    display: flex;
    align-items: center;

    button {
      border-radius: 2.5rem;
      padding: 1.5rem 5rem;
      border: none;
      background: var(--color-pink);
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    & > div {
      flex: 4;
      padding: 2rem;
      // padding-right: 2rem;
      h1 {
        font-family: $font-heading;
        font-size: 3rem;
        margin-bottom: 1.5rem;
        // width: 80%;
      }
      p {
        font-size: 1.6rem;
        margin-bottom: 3rem;
      }
    }
    & > img {
      flex: 5;
      padding: 2rem;
    }
  }
}

.card {
  display: flex;
  border-radius: 1rem;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  // padding: 4rem 4rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  // .p-l {
  //   padding: 0 4rem;
  //   /* it is designed as in frontend design image,
  //   though I didn't like */
  // }

  // &__card-one:first-child,
  // &__card-three:first-child {
  //   padding-left: 10rem;
  // }
  // &__card-two{

  // }
  img {
    padding: 6rem;
  }

  &__text-box {
    padding: 6rem;
    h3 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
}

main {
  padding: 10rem 0;
}
.card-small {
  width: 70%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 5rem 4rem;
  display: block;
  margin: 0 auto -50px auto;
  border-radius: 1rem;

  background: #fff;
  //   align-self: center;
  //   margin: 0 auto;
  z-index: 1;
  //   display: inline-block;
  position: relative;
  h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  button {
    border-radius: 2.5rem;
    padding: 1.5rem 5rem;
    border: none;
    background: var(--color-pink);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
}
.footer {
  z-index: 0;
  background-color: var(--color-cyan-dark);

  color: #fff;
  padding: 9rem 0rem 5rem 0;
  font-size: 1.4rem;
  img {
    width: 17rem;
  }
  .paragraph {
    // text-align: end;
    display: flex;
    justify-content: end;
  }

  &__sections {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;

    ul {
      text-align: start;
      list-style: none;
      li {
        margin-bottom: 2rem;
        max-width: 80%;
        display: flex;
        a {
          text-decoration: none;
          color: #fff;
        }
        i {
          margin-right: 2rem;
        }
      }
    }
    & > div:first-child {
      flex: 2;
      flex-basis: 30rem;
    }

    & > div:last-child {
      ul {
        display: flex;
        li a {
          border: 0.3px solid #fff;
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          // padding: 0.6rem;
          margin-right: 1.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 1.4rem;
            display: inline-block;
            margin-right: 0;
          }
          &:hover {
            background: #fff;

            border: none;
            color: var(--color-cyan-dark);
          }
        }
      }
    }
    & > div {
      flex: 1;
      flex-basis: 25rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 2rem;
  }
  body {
    text-align: center;
  }

  .card {
    flex-direction: column;
  }
  .header__content {
    flex-direction: column;
    h1 {
      // text-align: center;
      justify-self: center;
    }
  }
  .column-reverse {
    flex-direction: column-reverse;
  }
  .align-self-center {
    align-self: center;
  }
  .padding-zero {
    padding: 0;
  }
  .w-100 {
    width: 100%;
  }
  .text-align-center {
    text-align: center;
  }
}
