.footer {
  
  &__container {
    padding-top:6rem;
    background-color: $color-primary-dark;
  }
  &__item a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    line-height: 4rem;
    &:hover {
      color: rgb(121, 104, 161);
    }
  }
&__logo{
  fill: #fff;
}
  &__cols {
    display: flex;

    .col_footer {
      width: 35%;
     
    }
  }
}
