.header {
  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navlinks {
    display: flex;
  }

  &__nav-item:not(:last-child) {
    padding-right: 6rem;
  }

  &__nav-item {
    list-style: none;
    a {
      display: inline-block;
      text-decoration: none;
      font-family: $font-display;
      color: $color-primary-dark;
    }
  }
  &__logo-item {
    display: inline-block;
  }
}
