.productive__container {
  background-color: $color-grayish;
  width: 100%;
}

.productive {
  display: flex;

  &__img {
    width: 50vw;
    img {
      width: 100%;
      display: inline-block;
    }
  }
  &__text-box {
    width: 50vw;
    h1 {
      font-size: 3.5rem;
      margin-bottom: 2.5rem;
    }
    p {
      font-size: 1.9rem;
    }
    a {
      display: flex;
      display: inline-block;
      border-bottom: 1px solid $color-accent-cyan;
      text-decoration: none;
      color: $color-accent-cyan;
      span {
        border-radius: 50%;
        text-align: center;
        width: 20px;
        background: $color-accent-cyan;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}
.productive__card {
  background: #fff;
  width: 65%;
  padding: 5rem 3rem 3rem 3rem;
  p {
    font-size: 1.6rem;
  }
  &__user-box {
    display: flex;
    margin-top: 2rem;
    img {
      display: inline-block;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
    .name-box {
      margin-left: 1rem;
      .name {
        font-weight: bold;
      }
      .title {
        font-size: 1.3rem;
      }
    }
  }
}
