.subscribe__container {
  background: $color-primary;
  color: #fff;
}
.subscribe {
  display: flex;
  &__text-box {
    width: 50%;
    h2 {
      font-size: 3.6rem;
    }
    p {
      font-size: 1.6rem;
      width: 80%;
    }
  }
  &__form {
    width: 50%;
    padding: 0 4rem;
    form {
      padding: 2rem 0 0 0;
      width: 100%;
      input {
        background: #fff;
        color: $color-neutral-gray;
        width: 90%;
        border: none;
        border-radius: 2px;
        padding: 1.5rem 3rem;
        font-size: 1.4rem;
      }
      button {
        // width: 55%;
        padding: 1.5rem 3rem;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 700;
        background-color: #376bfb;
        border: none;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
          background-color: darken($color: #376bfb, $amount: 10);
        }
      }
    }
  }
}
