// Variables
:root {
  --color-primary-red: hsl(0, 36%, 70%);
  --color-primary-red-soft: hsl(0, 93%, 68%);
  --color-primary-red-dark: hsl(0, 6%, 24%);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}
