@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

// FONT VARIABLES
$font-primary: 'Karla', sans-serif;

// COLOR VARIABLES
:root {
  --color-cyan: hsl(179, 62%, 43%);
  --color-yellow: hsl(71, 73%, 54%);
  --color-gray: hsl(204, 43%, 93%);
  --color-grayish-blue: hsl(218, 22%, 67%);
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary;
  color:#fff;
  background-color: var(--color-gray);
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
}
