.container {
  max-width: 55rem;
  margin: auto;
  // height: 100vh;
  padding: 2rem;
  font-size: 1.2rem;;

  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  &__top{
    
    
    
    
    padding: 3rem 3.5rem;
    
    h1{
      color: var(--color-cyan);
      margin-bottom: 1rem;
      
    }
    h3{
      color: var(--color-yellow);
      margin-bottom: .3rem;
    }
    p{
      color: var(--color-grayish-blue);
    }
  }

  &__bottom{
    display: flex;
    flex-wrap: wrap;
    
    .container__bottom-left{
      flex: 1;
      
      background: var(--color-cyan);
      padding: 3rem 3.5rem;
      h3{
        margin-bottom: 0.6rem;
        
      }
      h2{
        font-size: 3rem;
        display: flex;
        align-items: center;
        span{
          padding-left: 0.5rem;
          font-size: 1.2rem;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.658);
        }
      }
      p{
        color: rgba(255, 255, 255, 0.904);
        // padding-top: -0.8rem;
        margin-top: -5px;
      }
      button{
        width: 100%;
        padding: 1rem 0;
        border-radius: 5px;
        border: none;
        background-color: var(--color-yellow);
        color: #fff;
        margin-top: 2.5rem;
        cursor: pointer;
        &:hover{
          background-color: darken($color: hsl(71, 73%, 54%), $amount: 6);
        }
      }
    }
    .container__bottom-right{
      flex: 1;
      
      padding: 3rem 3.5rem;
      background: hsla(179, 62%, 43%, 0.74);
      h3{
        margin-bottom: 0.9rem;
      }
      ul{
        li{
          list-style: none;
          color: rgba(255, 255, 255, 0.801);
        }
      }
      
    }
  }
  
}


@media screen and (max-width: 600px){
  .container__bottom{
    flex-direction: column;
  }

}

